body{
    background: #50E3C2;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
.white-space{
    background: #FFF;
    border-radius:20px;
    width: 690px;
    height: 835px;
    display: block;
    margin: 95px auto 94px auto;
}

h1{
    margin-top: 49px;
}
.grey{
    color:#292929;
    opacity: 0.25;
}
.center{
    text-align:center;
}
.views , .complete-delete{
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.666667px;
    font-weight: 700;
}

.complete-delete p, .views p{
    display: inline;
    padding: 10px;
}

.complete-delete{
    margin-left: 60px;
    float: left;
}
.views{
    float:right;
    margin-right: 60px;
}

.input, #container{
    width: 500px;
    border-bottom: #979797 2px solid;
    display: block;
    margin: auto;
    margin-top: 10
}
.input input{
    font-weight: 200;
    font-size: 18px;
    
    border: none;
    width:100%;
}
input:focus{
    outline: none;
}
input[type="submit"]{
    /* visibility: hidden; */
    width: 2%;
}
.item{
    color: #292929;
   
    
    font-size: 18px;
}
.container{
    width: 500px;
    display: flex;
    justify-content: space-between;
    border-bottom:#979797 1px solid;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 25px;
}
.status{
    color: #50E3C2;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    cursor:hand;
} 
.strikeThrough{
    color:#979797;
    text-decoration: line-through;
}
.hide{
    display: none;
}

.Day{
    margin-top: 43px;
    margin-bottom: 0px;
}
#dateDisplay{
    margin-top:3px;
}
#dayDisplay{
margin-bottom:0px;
}
.float-contain{
    margin-top:66px;
}